html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Lato, sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-container,
.help-container {
  width: 530px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.header {
  background: dodgerblue;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 30px;
  padding: 1rem;
}

.player-content,
.computer-content,
.help-content {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.far {
  font-size: 50px;
  margin-right: 40px;
  user-select: none;
}

.player-content .far,
.player-content .choice {
  color: dodgerblue;
  cursor: pointer;
}

.computer-content .far,
.computer-content .choice {
  color: rgba(235, 43, 52);
  cursor: pointer;
}

.player-content .far:last-of-type,
.computer-content .far:last-of-type {
  margin-right: 0;
}

.player-content .selected,
.computer-content .selected {
  color: black;
}

.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.help-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
}

.help-text {
  font-size: 25px;
  margin: 25px inherit;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container,
  .help-container {
    width: 95%;
    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .help-text {
    font-size: 20px;
  }

  .player-content,
  .computer-content,
  .help-content {
    margin: 50px 0 25px 25px;
  }

  .far {
    margin-right: 20px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container,
  .help-container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .help-text {
    font-size: 18px;
  }

  .player-content,
  .computer-content,
  .help-content {
    margin: 43px 0 25px 20px;
  }

  .far {
    font-size: 35px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-content {
    margin: 0 20px;
  }
}
